* {
  text-align: center;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
}

.header {
  color: white;
  height: 90px;
  width: 100%;
  background-color: navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header > a {
  color: white;
  text-decoration: none;
}

.landing {
  display: flex;
  flex-direction: column;
}

.landing > h1 {
  margin-bottom: 40px;
}

.landing > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 0 0 30px 0;
}

.profile > img {
  margin-top: 20px;
  width: 200px;
}

.profile > h3 {
  padding: 10px 40px;
  font-style: italic;
  font-weight: 100;
}
